<<<<<<< HEAD
$color__skin: #3B1E08; // Header etc.
$color__interactive: #b51c35; // Links, highlights, etc.

$color__background-body: #fff;
$color__background-screen: #f1f1f1;
$color__background-hr: #ccc;
$color__background-button: #e6e6e6;
$color__background-pre: #eee;
$color__background-ins: #fff9c0;

$color__text-screen: #000;
$color__text-input: #666;
$color__text-input-focus: #111;
$color__link: #000;
$color__link-visited: #000;
$color__link-hover: $color__interactive;
$color__text-main: #000;

$color__border-button: #ccc #ccc #bbb;
$color__border-button-hover: #ccc #bbb #aaa;
$color__border-button-focus: #aaa #bbb #bbb;
$color__border-input: #ccc;
$color__border-abbr: #666;
=======
<<<<<<< HEAD
$color__background-body: #ffffff;
=======
$color__skin: #3B1E08; // Header etc.
$color__interactive: #b51c35; // Links, highlights, etc.

$color__background-body: #fff;
>>>>>>> 04419d1f403253c58c5dcd7fc8988ab5cb1ac674
$color__background-screen: #f1f1f1;
$color__background-hr: #ccc;
$color__background-button: #e6e6e6;
$color__background-pre: #eee;
$color__background-ins: #fff9c0;

$color__text-screen: #000;
$color__text-input: #666;
$color__text-input-focus: #111;
$color__link: #000;
$color__link-visited: #000;
$color__link-hover: $color__interactive;
$color__text-main: #000;

$color__border-button: #ccc #ccc #bbb;
$color__border-button-hover: #ccc #bbb #aaa;
$color__border-button-focus: #aaa #bbb #bbb;
$color__border-input: #ccc;
$color__border-abbr: #666;
>>>>>>> 7042557e0964f80df7cb383a9d5748894d5ca07f
